<div class="input-group-append">
		<input type="text" class="form-control" placeholder="Enter your order" id="burger-order" aria-describedby="basic-addon1">
    	<button class="btn btn-outline-secondary" id="add-burger"type="button">Add Order!</button>
</div>
